<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Administrador</title>
             <meta name="viewport" content="width=device-width, user-scalable-no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
                <link rel="stylesheet" href="css/bootstrap.min.css">
                    
</head>
<body>
   
    <div class="container-fluid">
       <center><h1>REGISTRO DE USUARIOS</h1></center>
        <br>
        <div class="row">
            <div class="col-md-12">
               <center><input name="archivo" type="file" size="20"></center>
               <br>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Primer Nombre</span>
                        <input type="text" class="from-control">
                    </div>
                </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Segundo Nombre</span>
                                    <input type="text" class="from-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Primer Apellido</span>
                                    <input type="text" class="from-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Segundo Apellido</span>
                                    <input type="text" class="from-control">
                    </div>
                </div>
                     <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">Sexo</span> 
                            <span class="input-group-addon"> Hombre </span>
                          <input type="radio" name="sexo" id="hombre">
                           <span class="input-group-addon"> Mujer </span>
                           <input type="radio" name="sexo" id="mujer">
                           
                           <span class="input-group-addon">cargo</span>
                                  <select>
                                     <option value="seleccione">Seleccione</option>
                                     <option value="administrador">Administrador</option>
                                     <option value="chef">Chef</option>
                                     <option value="mcajero">Cajero</option>
                                     <option value="mesero">Mesero</option>
                                  </select>
                         </div>
                </div>
                <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Año de nacimiento</span>
                                  <input type="date" name="fecha">
                    </div>
                </div>
                  <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Direccion</span>
                                    <input type="text" class="from-control">
                    </div>
                </div>
                  <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Celular</span>
                                    <input type="text" class="from-control">
                    </div>
                </div>
                  <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Telefono</span>
                                    <input type="text" class="from-control">
                    </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">Documento</span>
                             <select>
                             <option value="selecione">documento de identidad</option>
                             <option value="cedula">Cedula</option>
                             <option value="tarjeta extranjeria">Cedula de extranjeria</option>
                             <option value="tarjeta extranjeria">Pasaporte</option>
                            </select>
                            <span class="input-group-addon">Numero</span>
                          <input type="text" class="from-control">
                            
                        </div>
                </div>
                   
                  <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Salario</span>
                                    <input type="text" class="from-control">
                    </div>
                </div>
                  <div class="form-group">
                            <div class="input-group">
                               
                                   <span class="input-group-addon"> Horario de entrada</span> 
                                 <select>
                                     <option value="seleccione">Seleccione</option>
                                     <option value="8 am">8 am</option>
                                     <option value="9 am">9 am</option>
                                     <option value="10 am">10 am</option>
                                     </select>
                                 
                                 <span class="input-group-addon"> Horario de salida</span> 
                                     <select>
                                         <option value="seleccione">Selecione</option>
                                         <option value="16 pm">16 pm</option>
                                         <option value="17 pm">17 pm</option>
                                         <option value="18 pm">18 pm</option>
                                         
                                     </select>
                      </div>
                </div>
                        <center> <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Crear perfil</button>
                            </div></center>

                          
        </div>
    </div>
    
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>
